<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ocular stats</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" href="assets/icon.svg">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="bigheader">
        <div class="box-head">
            <h1 class='margined'><a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" class='icon'>
                        <path
                            d="M9.145 18.29c-5.042 0-9.145-4.102-9.145-9.145s4.103-9.145 9.145-9.145 9.145 4.103 9.145 9.145-4.102 9.145-9.145 9.145zm0-15.167c-3.321 0-6.022 2.702-6.022 6.022s2.702 6.022 6.022 6.022 6.023-2.702 6.023-6.022-2.702-6.022-6.023-6.022zm9.263 12.443c-.817 1.176-1.852 2.188-3.046 2.981l5.452 5.453 3.014-3.013-5.42-5.421z" />
                    </svg> ocular</a> <span class="bread">/</span> <a href='/stats.html'>stats</a></h1>
            <p class='margined'><a href='https://github.com/JeffaloBob/ocular' class="header-link">feedback</a> | <a
                    href='https://scratchdb.lefty.one' class="header-link">api and data from datonelefty</a></p>
        </div>
    </div>

    <div class="margined">
        <h1>stats</h1>
        <form method="get">
            <input required="" name="user" type="text" placeholder="user" id="searchbox" class="sb">
            <button type="submit" class="sbb">go</button>
        </form>
        <br>
        <div id='vue' v-cloak>
            <div v-if="loading">loading...</div>
            <!-- for some reason if i uncomment this line there suddenly are a bunch of errors and it litteraly makes no sense edit maybe not -->
            <div id="data" v-if="!splash">
                <img class='pfp' height='30px'
                    v-bind:src="'https://cdn2.scratch.mit.edu/get_image/user/'+user.id+'_60x60.png'">
                <h1 style="display: inline-block;">{{ user.name }}</h1> <i title='you can change this text at my-ocular.jeffalo.net'>{{ user.status }}</i> <span title='favourite colour'class="dot" v-bind:style='"background-color: "+user.color'></span>
                <div><b>{{ user.stats.posts }}</b> posts | <b>{{ user.stats.rank }}</b> worldwide</div>
                <div>first post: <b v-bind:title='user.stats.first.raw'>{{ user.stats.first.formatted }} <a v-bind:href='"/search.html?post="+user.stats.first.id'><svg class='external'xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/></svg></a></b> | latest
                    post: <b v-bind:title='user.stats.latest.raw'>{{ user.stats.latest.formatted }} <a v-bind:href='"/search.html?post="+user.stats.latest.id'><svg class='external'xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/></svg></a></b></div>
                <p><a v-bind:href="'/search.html?user='+user.name">{{ user.name }}'s posts</a></p>
                <p><a v-bind:href="'https://scratch.mit.edu/users/'+user.name">{{ user.name }} on Scratch</a></p>



            </div>
            <div v-if="splash && !loading">
                this is forum stats, its based off of <a href='http://shefwerld.github.io/post/'>shefwerld stats</a> and
                currently can't do as much. <br>
                <br>soon it's going to be super cool hopefully
            </div>
            <div v-if="shouldChart" class="chart-container">
                <canvas id="chart1"></canvas>
            </div>

        </div>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const username = urlParams.get('user');

    var categories = [ //name is the name of the category, colour must be the colour in rgba with a being 1
        {
            name: 'Announcements',
            colour: 'rgb(255, 0, 0, 1)'
        },
        {
            name: 'New Scratchers',
            colour: 'rgb(255, 106, 0, 1)'
        },
        {
            name: 'Help With Scripts',
            colour: 'rgb(108, 204, 197, 1)'
        },
        {
            name: 'Show and Tell',
            colour: 'rgb(255, 0, 255, 1)'
        },
        {
            name: 'Project Ideas',
            colour: 'rgb(255, 255, 0, 1)'
        },
        {
            name: 'Collaboration',
            colour: 'rgb(0, 255, 213, 1)'
        },
        {
            name: 'Requests',
            colour: 'rgb(0, 186, 109, 1)'
        },
        {
            name: 'Questions about Scratch',
            colour: 'rgb(153, 102, 255, 1)'
        },
        {
            name: 'Suggestions',
            colour: 'rgb(76, 151, 255, 1)'
        },
        {
            name: 'Bugs and Glitches',
            colour: 'rgb(0, 200, 255, 1)'
        },
        {
            name: 'Advanced Topics',
            colour: 'rgb(255, 0, 140, 1)'
        },
        {
            name: 'Connecting to the Physical World',
            colour: 'rgb(155, 181, 222, 1)'
        },
        {
            name: 'Developing Scratch Extensions',
            colour: 'rgb(255, 85, 0, 1)'
        },
        {
            name: 'Open Source Projects',
            colour: 'rgb(27, 31, 35, 1)'
        },
        {
            name: 'Things I\'m Making and Creating',
            colour: 'rgb(64, 0, 255, 1)'
        },
        {
            name: 'Things I\'m Reading and Playing',
            colour: 'rgb(245, 66, 96, 1)'
        },
    ]

    var vue = new Vue({
        el: '#vue',
        data: {
            shouldChart: false,
            user: {
                name: 'Jeffalo',
                id: 420,
                status: '',
                stats: {
                    posts: 1005,
                    rank: ordinalSuffix(565),
                    counts: {
                        categories: [],
                        counts: [],
                        colours: []
                    },
                    first: {
                        raw: 'iso date or something',
                        formatted: 'June 19, 2018'
                    },
                    latest: {
                        raw: 'iso date or something',
                        formatted: 'June 19, 2018'
                    }
                }
            },
            splash: true,
            loading: false
        },
        methods: {
            chart: function () {
                var canvas = document.getElementById('chart1')
                if (!canvas) return
                var ctx = canvas.getContext('2d');

                //parse colours

                var backColours = []
                var borderColours = []

                this.user.stats.counts.colours.forEach(i => {
                    backColours.push(i.replace(/[^,]+(?=\))/, '0.2'))
                    borderColours.push(i.replace(/[^,]+(?=\))/, '1'))
                })

                var achart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: this.user.stats.counts.categories,
                        datasets: [{
                            label: '# of Posts',
                            data: this.user.stats.counts.counts,
                            backgroundColor: backColours,
                            borderColor: borderColours,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        title: {
                            display: true,
                            text: 'Post Distribution'
                        },
                        tooltips: {
                            callbacks: {
                                title: function (tooltipItem, data) {
                                    return data['labels'][tooltipItem[0]['index']];
                                },
                                label: function (tooltipItem, data) {
                                    var hasS = ' posts'
                                    if (data['datasets'][0]['data'][tooltipItem['index']] == 0) hasS = ' post'
                                    return data['datasets'][0]['data'][tooltipItem['index']] + hasS;
                                },
                                afterLabel: function (tooltipItem, data) {
                                    var dataset = data['datasets'][0];
                                    var rank = vue.user.stats.counts.ranks[tooltipItem['index']]
                                    //console.log(rank)
                                    var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
                                    return `${percent}% of their posts\n${ordinalSuffix(rank)}`
                                }
                            }
                        }
                    }
                });
            }
        },
        updated: function () {
            if(vue.hasChart == false){
                this.chart() //is this the best way to do this?
                vue.hasChart = true
            }

        }
    })
    if (username) {
        vue.loading = true
        fetch('https://scratchdb.lefty.one/v2/forum/user/info/' + username)
            .then(res => res.json())
            .then(forumdata => {
                fetch('https://scratchdb.lefty.one/v2/user/info/' + username)
                    .then(res1 => res1.json())
                    .then(userdata => { //callback heck moment
                        console.log(forumdata, userdata)
                        vue.user.name = userdata.username
                        vue.user.id = userdata.id

                        vue.user.stats.posts = forumdata.counts.total.count
                        vue.user.stats.rank = ordinalSuffix(forumdata.counts.total.rank)

                        vue.user.stats.first.raw = forumdata.firstPost.time.posted
                        vue.user.stats.first.formatted = formatDate(forumdata.firstPost.time.posted)
                        vue.user.stats.first.id = forumdata.firstPost.id

                        vue.user.stats.latest.raw = forumdata.lastPost.time.posted
                        vue.user.stats.latest.formatted = formatDate(forumdata.lastPost.time.posted)
                        vue.user.stats.latest.id = forumdata.lastPost.id


                        //counts
                        var counts = []
                        var pos = []
                        var cats = []
                        var colours = []
                        Object.entries(forumdata.counts).forEach(i => {
                            if (i[0] == 'total') return

                            counts.push(i[1].count)
                            pos.push(i[1].rank)
                            cats.push(i[0])

                            var find = categories.find(obj => obj.name == i[0])
                            if (!find) {
                                console.warn('unknown category: ' + i[0])
                                colours.push('rgb(48, 48, 48, 1)')
                            } else {
                                colours.push(find.colour)
                            }
                        })
                        vue.user.stats.counts.counts = counts
                        vue.user.stats.counts.ranks = pos
                        vue.user.stats.counts.categories = cats
                        vue.user.stats.counts.colours = colours

                        vue.shouldChart = true
                        vue.hasChart = false

                        vue.splash = false
                        vue.loading = false

                                                
                        fetch('https://my-ocular.jeffalo.net/api/user/' + userdata.username) //this is a WIP api but when it's done it will let people set custom statuses and fun
                            .then(res2 => res2.json())
                            .then(statusdata => {
                                console.log(statusdata)
                                vue.user.status = statusdata.status
                                vue.user.color = statusdata.color
                            })
                    })

            })
    }



    //useful functions
    function ordinalSuffix(i) {
        var j = i % 10,
            k = i % 100;
        if (j == 1 && k != 11) {
            return i + "st";
        }
        if (j == 2 && k != 12) {
            return i + "nd";
        }
        if (j == 3 && k != 13) {
            return i + "rd";
        }
        return i + "th";
    }

    function formatDate(input) {
        const options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' };

        return new Date(input).toLocaleDateString('en-GB', options);
    }
</script>

</html>