.post{
    margin-bottom: 20px;
}

.post-wrap {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (doesn't work very well) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    border: 1px solid #e0e0e0;
    border-left: none; 
   }
  
  .main-content {
    -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
    -ms-flex-order: 2;              /* TWEENER - IE 10 */
    -webkit-order: 2;               /* NEW - Chrome */
    order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    width: 85%;                     /* No flex here, other cols take up remaining space */
    
    -moz-box-flex: 1;               /* Without this, Firefox 19- expands to widest paragraph, overrides width */
    
    background: white;

    overflow: hidden;
  }
  
  .main-nav {
    -webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
    -ms-flex-order: 1;              /* TWEENER - IE 10 */
    -webkit-order: 1;               /* NEW - Chrome */
    order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    -webkit-box-flex: 1;            /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;               /* OLD - Firefox 19- */
    width: 20%;                     /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;                /* Chrome */
    -ms-flex: 1;                    /* IE 10 */
    flex: 1;                        /* NEW, Spec - Opera 12.1, Firefox 20+ */
    
    background: #f2f2f2;
  }
  
  
  .main-content,
  .main-sidebar,
  .main-nav {
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    box-shadow: inset 1px 0 #e0e0e0;

    overflow-wrap: break-word;
  }
  
  body {
/*     margin-left: 282.600px;
    margin-right: 282.600px; */
    margin: 0px;
    color: #575e75;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
  }
  .margined{
    margin-left: 282.600px;
    margin-right: 282.600px;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  h1, h2 {
    font: bold 2em;
    margin: 0 0 0.5em 0;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    margin: 0 0 1em 0;
  }

  .rank{
      display: block
  }

  .post-count{
    display: block
}

.header{
    background-color: #0fbd8c;
    padding: 10px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    overflow: hidden;
    white-space: nowrap;
}

.view-scratch{
    float: right;
    color: white;
    text-decoration: none;
}

.date{
  color: white;
  text-decoration: none;
}

.topic-link{
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.topic{
  float: right;
  color: white;
  text-decoration: none;
}
.post .main-content img {
  max-width: 100%;
  max-height: 100%;
}
a{
  color: #4d97ff;
  font-weight: bold;
  text-decoration: none;
}
.username{
    color: #575e75;
    font-weight: bold;
    padding-bottom: 5px;
    display: block;
}

blockquote{
  margin: 12px 0;
  padding: 12px 20px;

  border-style: solid;
    border-width: 1px;

    border-color: #ccc;

    background-color: #f7f7f7;
}

.bb-quote-author{
  color: #575e75;
  font-weight: bold;
}

button{
  border-radius: 4px;
  border: none;
  background: #4d97ff;
  box-shadow: none;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  text-shadow: none;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
}

.bb-italic{
  font-style: italic;
}
.bb-bold{
  font-weight: bold;
}

footer{
  padding-top: 10px;
  margin-top: 10px;
  color: #8d96b3;
  padding-bottom: 10px;
}

pre{
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.bigheader{
  margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: none;
    border-radius: 0;
    background: #0fbd8c;
    color: white;
}

.bigheader h1{
  font-size: 30px;
}

.bigheader a{
  color: white;
  font-weight: bold;
}

.sb{
  width: 60%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgray;
  margin-bottom: 0.5em;
}

select{
  width: 12%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid lightgray;
  margin-bottom: 0.5em;
}

.sbb{
  border-radius: 5px;
  padding: 10px;
  width: 7%;
  border: 1px solid;
  margin-bottom: 0.5em;
  line-height: normal;
}

.footer-link{
  color: #8d96b3;
}


/*tables*/

.info {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.info td, .info th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info tr:nth-child(even){background-color: #f2f2f2;}

.info tr:hover {background-color: #ddd;}

.info th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0fbd8c;
  color: white;
}

.icon{
  fill: white;
}

.bread{
  font-weight: lighter;
}

/* grid i stole from my other site */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
  /*fade*/
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid>*:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid>* {
  background: #0fbd8c;
  border: 1px white solid;
  background-position: center center;
  background-size: cover;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: white;
  font-size: 150%;
  user-select: none;
  transition: 125ms;
  text-align: center;
}

.content:hover {
  font-size: 160%;
}

.content:active {
  backdrop-filter: brightness(0.5);
}

.content>span {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .margined {
    /*background-color: lightblue;*/
    margin-left: 10px;
    margin-right: 10px;
  }
  #profile-picture{
    width: 50px;
    height: 50px;
  }
}